{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>হোম</a>
                    <span></span> পেজ <span></span> কন্টাক
                </div>
            </div>
        </div>
        <div class="page-content pt-50">

            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <section class="mb-50">
                            <div class="row mb-60">
                                <div class="col-md-4">
                                    <h4 class="mb-15 text-brand">অফিস</h4>
                                    <ul class="contact-infor">
                                        <li><img src="{% static 'assets/imgs/theme/icons/icon-location.svg' %}" alt=""
                                        /><strong>ঠিকানা: </strong> <span>ইস্টার্ণ কমার্শিয়াল কমপ্লেক্স ৬৪-৬৮, উত্তর, কমলাপুর রোড, ঢাকা-১২১৭</span></li>
                                        <li><img src="{% static 'assets/imgs/theme/icons/icon-contact.svg' %}" alt=""
                                        /><strong>মোবাইল: </strong><span>01600000515</span></li>
                                        <li><img src="{% static 'assets/imgs/theme/icons/icon-email-2.svg' %}" alt=""
                                        /><strong>ই-মেইল: </strong><span><a href="#"
                                                                       class="__cf_email__" data-cfemail="6a190b060f2a240f191e44090507">sales@uniqueknowledgebd.com</a></span></li>
                                        <li><img src="{% static 'assets/imgs/theme/icons/icon-clock.svg' %}" alt=""
                                        /><strong>সময়: </strong><span>প্রতিদিন সকাল ১০ টা থেকে সন্ধ্যা ৬ টা</span></li>
                                    </ul>
                                    <a class="btn btn-sm font-weight-bold text-white mt-20 border-radius-5 btn-shadow-brand hover-up"><i class="fi-rs-marker mr-5"></i>গুগল ম্যাপ</a>
                                </div>

                                <div class="col-md-4">
                                    <h4 class="mb-15 text-brand">দোকান</h4>
                                    <ul class="contact-infor">
                                        <li><img src="{% static 'assets/imgs/theme/icons/icon-location.svg' %}" alt=""
                                        /><strong>ঠিকানা: </strong> <span>ইস্টার্ণ কমার্শিয়াল কমপ্লেক্স ৬৪-৬৮, উত্তর, কমলাপুর রোড, ঢাকা-১২১৭</span></li>
                                        <li><img src="{% static 'assets/imgs/theme/icons/icon-contact.svg' %}" alt=""
                                        /><strong>মোবাইল: </strong><span>01600000515</span></li>
                                        <li><img src="{% static 'assets/imgs/theme/icons/icon-email-2.svg' %}" alt=""
                                        /><strong>ই-মেইল: </strong><span><a href="#"
                                                                       class="__cf_email__" data-cfemail="6a190b060f2a240f191e44090507">sales@uniqueknowledgebd.com</a></span></li>
                                        <li><img src="{% static 'assets/imgs/theme/icons/icon-clock.svg' %}" alt=""
                                        /><strong>সময়: </strong><span>প্রতিদিন সকাল ১০ টা থেকে সন্ধ্যা ৬ টা</span></li>
                                    </ul>
                                    <a class="btn btn-sm font-weight-bold text-white mt-20 border-radius-5 btn-shadow-brand hover-up"><i class="fi-rs-marker mr-5"></i>গুগল ম্যাপ</a>
                                </div>
                                <div class="col-md-4">
                                    <h4 class="mb-15 text-brand">বাসা</h4>
                                    <ul class="contact-infor">
                                        <li><img src="{% static 'assets/imgs/theme/icons/icon-location.svg' %}" alt=""
                                        /><strong>ঠিকানা: </strong> <span>ইস্টার্ণ কমার্শিয়াল কমপ্লেক্স ৬৪-৬৮, উত্তর, কমলাপুর রোড, ঢাকা-১২১৭</span></li>
                                        <li><img src="{% static 'assets/imgs/theme/icons/icon-contact.svg' %}" alt=""
                                        /><strong>মোবাইল: </strong><span>01600000515</span></li>
                                        <li><img src="{% static 'assets/imgs/theme/icons/icon-email-2.svg' %}" alt=""
                                        /><strong>ই-মেইল: </strong><span><a href="#"
                                                                       class="__cf_email__" data-cfemail="6a190b060f2a240f191e44090507">sales@uniqueknowledgebd.com</a></span></li>
                                        <li><img src="{% static 'assets/imgs/theme/icons/icon-clock.svg' %}" alt=""
                                        /><strong>সময়: </strong><span>প্রতিদিন সকাল ১০ টা থেকে সন্ধ্যা ৬ টা</span></li>
                                    </ul>
                                    <a class="btn btn-sm font-weight-bold text-white mt-20 border-radius-5 btn-shadow-brand hover-up"><i class="fi-rs-marker mr-5"></i>গুগল ম্যাপ</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-8">
                                    <div class="contact-from-area padding-20-row-col">
                                        <h5 class="text-brand mb-10">কন্টাক ফর্ম</h5>
                                        <h2 class="mb-20">আমাদেরকে কিছু লিখুন</h2>
                                        <p class="text-muted mb-30 font-sm contact_us_p">আপনার ই-মেইল এড্রেস প্রকাশ
                                            করা হবে না। নির্ধারিত ফিল্ড গুলো পুরোন করে জমা দিন।</p>
                                        <h4 class="text-success" id="message-response"></h4>
                                        <form class="contact-form-style mt-30" id="contact-form-ajax"  method="POST">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="input-style mb-20">
                                                        <input name="full_name" id="full_name"  placeholder="নাম"
                                                               type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="input-style mb-20">
                                                        <input name="email" id="email"  placeholder="ই-মেইল"
                                                               type="email" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="input-style mb-20">
                                                        <input name="telephone"  id="phone" placeholder="ফোন"
                                                               type="tel" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="input-style mb-20">
                                                        <input name="subject"  id="subject" placeholder="বিষয়"
                                                               type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="textarea-style mb-30">
                                                        <textarea name="message" id="message"
                                                                  placeholder="ম্যাসেজ"></textarea>
                                                    </div>
                                                    <button id="contact-form-ajax" class="suebmit submit-auto-width"
                                                            type="submit">ম্যাসেজ পাঠান</button>
                                                </div>
                                            </div>
                                        </form>
                                        <p class="form-messege"></p>
                                    </div>
                                </div>
                                <div class="col-lg-4 pl-50 d-lg-block d-none">
                                    <img class="border-radius-15 mt-50" src="{% static 'assets/imgs/page/contact-2.png' %}" alt="" />
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
