My Code is:
"
{% for c in categories %}
            <section class="pb-5 section-padding">
                <div class="container">
                    <div class="section-title style-2 wow animate__animated animate__fadeIn">
                        <h3>{{ c.title }}</h3>
                        <ul class="nav nav-tabs links" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a href="{% url 'core:category-product-list' c.cid %}" class="nav-link active">
                                    সকল {{ c.title }} দেখুন
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--End nav-tabs-->

                    <div class="row">
                        <div class="col-lg-3 d-none d-lg-flex wow animate__animated animate__fadeIn">
                            <div>

                                <a href="{% url 'core:category-product-list' c.cid %}"><img class="rounded-3 "
                                                                                            src="{{ c.image.url }}"
                                                                                            alt=""/></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-12 wow animate__animated animate__fadeIn" data-wow-delay=".4s">
                            <div class="tab-content" id="myTabContent-1">

                                <div class="tab-pane fade show active" id="tab-one-1" role="tabpanel"
                                     aria-labelledby="tab-one-1">
                                    <div class="carausel-4-columns-cover arrow-center position-relative">
                                        <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow"
                                             id="carausel-4-columns-arrows"></div>
                                        <div class="d-flex carausel-4-columns carausel-arrow-center">

                                            {% for p in products %}
                                            <div class="col-lg-1-4 col-md-3 col-12 col-sm-6">
                                                <div class="product-cart-wrap mb-30 wow animate__animated animate__fadeIn"
                                                     data-wow-delay=".1s">
                                                    <div class="product-img-action-wrap ">
                                                        <div class="product-img product-img-zoom">
                                                            <a href="{% url 'core:product-detail' p.pid %}">
                                                                <img class="default-img" src="{{ p.image.url }}"
                                                                     alt=""/>
                                                                <img class="hover-img" src="{{ p.image.url }}" alt=""/>
                                                            </a>
                                                        </div>
                                                        <div class="product-action-1">
                                                            <a aria-label="Quick view" class="action-btn"
                                                               href="{% url 'core:product-detail' p.pid %}"><i
                                                                    class="fi-rs-eye"></i></a>
                                                            <a aria-label="Add To Wishlist"
                                                               class="action-btn small hover-up"
                                                               href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                            <a aria-label="Compare" class="action-btn small hover-up"
                                                               href="shop-compare.html"><i
                                                                    class="fi-rs-shuffle"></i></a>
                                                        </div>
                                                        <div class="product-badges product-badges-position product-badges-mrg">
                                                            <span class="hot">{{ p.get_percentage | floatformat:0 }}% Off</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-content-wrap">
                                                        <div class="product-category">
                                                            <a href="{% url 'core:category-product-list' p.category.cid %}">{{ p.category.title }} </a>
                                                        </div>
                                                        <h2><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }} </a>
                                                        </h2>
                                                        <div class="product-rate d-inline-block">
                                                            <div class="product-rating" style="width: 80%"></div>
                                                        </div>
                                                        <div>
                                                    <span class="font-small text-muted">প্রকানী: <a
                                                            href="{% url 'core:vendor-detail' p.vendor.vid %}">{{ p.vendor.title }} </a></span>
                                                        </div>
                                                        <div class="mt-2 product-price">
                                                            <span>৳ {{p.price}} </span>
                                                            <span class="old-price">৳ {{ p.old_price }}</span>
                                                        </div>
                                                        <div class="product-card-bottom">
                                                            <div class="add-cart">
                                                                <input type="hidden" value="1" id="product-quantity-1"
                                                                       class="product-quantity-{{p.id}}">
                                                                <input type="hidden" class="product-pid-{{p.id}}"
                                                                       value="{{p.pid}}">
                                                                <input type="hidden" class="product-image-{{p.id}}"
                                                                       value="{{p.image.url}}">
                                                                <input type="hidden" class="product-id-{{p.id}}"
                                                                       value="{{ p.id }}">
                                                                <input type="hidden" class="product-title-{{p.id}}"
                                                                       value="{{ p.title }}">

                                                                <div class="d-flex">
                                                                    <button class="add add-to-cart-btn b-none"
                                                                            style="border: none;"
                                                                            id="add-to-cart-btn-1"
                                                                            data-index="{{ p.id }}"><i
                                                                            class="mr-5 fi-rs-shopping-cart"></i>Add
                                                                    </button>
                                                                    <button class="add add-to-wishlist"
                                                                            style="border: none; background: none;"
                                                                            data-product-item="{{ p.id }}"><i
                                                                            class="fi-rs-heart"
                                                                            style="fill: aqua;"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a href="{% url 'core:product-detail' p.pid %}"
                                                           class="mt-3 btn w-100 hover-up"><i
                                                                class="mr-5 fi-rs-shopping-cart"></i>এখনই কিনুন</a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <!--End product Wrap-->
                                        </div>
                                    </div>
                                </div>
                                <!--End tab-pane-->
                            </div>
                            <!--End tab-content-->
                        </div>
                        <!--End Col-lg-9-->
                    </div>
                </div>
            </section>
            {% endfor %}
"
How to show category-wise Product?