
    <main class="main" id="cart-list">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>হোম</a>
                    <span></span> পেজ
                    <span></span> কার্ট
                </div>
            </div>
        </div>
        <div class="container mb-80 mt-50">
            <div class="row">
                <div class="col-lg-8 mb-40">
                    <h1 class="heading-2 mb-10">কার্ট লিস্ট</h1>
                    <div class="d-flex justify-content-between">
                        <h6 class="text-body"><span class="text-brand">{{ totalcartitems }}</span> টি বই রয়েছে</h6>
                    </div>
                </div>
            </div>
            <form action="{% url 'core:save_checkout_info' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8">
                        <div class="table-responsive shopping-summery">
                            <table class="table table-wishlist">
                                <thead>
                                        <tr class="main-heading">
                                            <th class="custome-checkbox start pl-30">
                                            <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" value="" />
                                            <label class="form-check-label" for="exampleCheckbox11"></label>
                                        </th>
                                        <th scope="col">বই</th>
                                        <th scope="col">নাম</th>
                                        <th scope="col">মূল্য</th>
                                        <th scope="col" class="text-center">পরিমাণ</th>
                                        <th scope="col">সাব টোটাল</th>
                                        <th scope="col" class="">রিফ্রেশ</th>
                                        <th scope="col" class="end">রিমোভ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product_id, item in cart_data.items %}
                                    <tr class="pt-30">
                                        <td class="custome-checkbox pl-30">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="" />
                                        <label class="form-check-label" for="exampleCheckbox1"></label>
                                    </td>
                                        <td class="image product-thumbnail pt-40"><img src="{{ item.image }}" alt="#"></td>
                                        <td class="product-des product-name">
                                            <h6 class="mb-5"><a class="product-name mb-10 text-heading" href="{% url 'core:product-detail' item.pid %}">{{ item.title }}</a></h6>

                                        </td>
                                        <td class="price" data-title="Price">
                                            <h4 class="text-body">${{item.price|floatformat:2}}</h4>
                                        </td>
                                        <td class="text-center detail-info" data-title="Stock">
                                            <div class="mr-15">
                                                <input type="number" placeholder="Qty" class="w-25 product-qty-{{ product_id }}"  name="" value="{{ item.qty }}" id="">
                                            </div>
                                        </td>
                                        <td class="price" data-title="Price">
                                            <h4 class="text-brand">${% widthratio item.price 1 item.qty %} </h4>
                                        </td>
                                        <td class="action text-center" data-title="Remove"><a style="border: none; background: none;"  class="text-body update-product" data-product="{{ product_id }}"><i class="fi-rs-refresh"></i></a></td>
                                        <td class="action text-center" data-title="Remove"><a style="border: none; background: none;"  class="text-body delete-product" data-product="{{ product_id }}"><i class="fi-rs-trash"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <div class="row mt-4">
                                <h4 class="mb-30">বায়োডাটা</h4>
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <label for="">নাম</label>
                                        <input type="text" required="" name="full_name"
                                               value="{{request.user.username|title}}" placeholder="নাম">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label for="">ই-মেইল</label>
                                        <input type="text" required="" name="email"  placeholder="ই-মেইল *"
                                               value="{{request.user.email}}">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label for="">মোবাইল</label>
                                        <input type="text" name="mobile" value="{{request.user.profile.phone}}"
                                               required="" placeholder="মোবাইল *">
                                    </div>
                                </div>
                                <h4 class="mb-30">শিপিং ডিটেইলস</h4>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <label for="">ঠিকানা</label>
                                        <input type="text" name="address" value="" placeholder="ঠিকানা">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label for="">গ্রাম/এরিয়া</label>
                                        <input type="text" name="city"  placeholder="গ্রাম/এরিয়া *" value="">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label for="">উপজেলা/থানা</label>
                                        <input type="text" name="state" value="" placeholder="উপজেলা/থানা *">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label for="">জেলা/শহর</label>
                                        <input type="text" name="country" value="" placeholder="জেলা/শহর *">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="border p-md-4 cart-totals ml-30">
                            <div class="table-responsive">
                                <div>
                                    <div class="d-flex justify-content-between mb-2">
                                        <p class="fw-bold">ট্যাক্স</p>
                                        <p>$0</p>
                                    </div>
                                    <div class="d-flex justify-content-between mb-2">
                                        <p class="fw-bold">শিপিং</p>
                                        <p>$0</p>
                                    </div>
                                    <div class="d-flex justify-content-between mb-2">
                                        <p class="fw-bold">ডিসকাউন্ট</p>
                                        <p>$0</p>
                                    </div>

                                    <div class="d-flex justify-content-between mb-2">
                                        <p class="fw-bold">মোট</p>
                                        <p>${{cart_total_amount}}</p>
                                    </div>
                                </div>
                            </div>
                            {% if totalcartitems %}
                                <button type=submit" class="btn mb-20 w-100">চেকআাউটে যান
                                    <i class="fi-rs-sign-out ml-15"></i></button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
