{% extends 'useradmin/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
  
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">ড্যাশবোর্ড</h2>
            <p>ইউনিক নলেজের সকল ডাটা</p>
        </div>
        <div>
            <a href="{% url 'useradmin:dashboard-add-products' %}"" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>বই আপলোড করুন</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">রেভিনিউ</h6>
                        <span>৳{{ revenue.price|floatformat:2|intcomma }}</span>
                    </div>
                </article>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">অর্ডার</h6>
                        <span>{{total_orders_count.count}}</span>
                    </div>
                </article>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">বই</h6>
                        <span>{{all_products.count}}</span>
                    </div>
                </article>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">মাসিক আয়</h6>
                        <span>{{ monthly_revenue.price|floatformat:2|intcomma }}</span>
                    </div>
                </article>
            </div>
        </div>
    </div>
    
    <div class="card mb-4">
        <header class="card-header">
            <h4 class="card-title">উল্লেখযোগ্য অর্ডার</h4>
        </header>
        <div class="card-body">
            <div class="table-responsive">
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap mb-0">
                        <thead class="table-light">
                            <tr>
                                
                                <th class="align-middle" scope="col">অর্ডার আইডি</th>
                                <th class="align-middle" scope="col">নাম</th>
                                <th class="align-middle" scope="col">ই-মেইল</th>
                                <th class="align-middle" scope="col">ফোন</th>
                                <th class="align-middle" scope="col">তারিখ</th>
                                <th class="align-middle" scope="col">মোট</th>
                                <th class="align-middle" scope="col">পেমেন্ট স্ট্যাটাস</th>
                                <th class="align-middle" scope="col">বিস্তারিত দেখুন</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for l in latest_orders %}
                            <tr>
                                <td><a href="#" class="fw-bold">#{{l.oid}}</a></td>
                                <td>{{l.full_name|title}}</td>
                                <td>{{l.email}}</td>
                                <td>{{l.phone}}</td>
                                <td>{{l.order_date}}</td>
                                <td>৳{{l.price}}</td>
                                <td>
                                    {% if l.paid_status == True %}
                                    <span class="badge badge-pill badge-soft-success">পেইড</span>
                                    {% else %}
                                    <span class="badge badge-pill badge-soft-danger">নট পেইড</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'useradmin:order_detail' l.id %}" class="btn btn-xs">বিস্তারিত
                                        দেখুন</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
        