{% extends 'useradmin/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}    

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">অর্ডার তালিকা</h2>
            <p>এখানে সমস্ত অর্ডার ম্যানেজ করুন</p>
        </div>
        <div>
            <input type="text" placeholder="সার্চ অর্ডার আইডি" class="form-control bg-white" />
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="সার্চ..." class="form-control" />
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>স্ট্যাটাস</option>
                        <option>এক্টিভ</option>
                        <option>ড্যাশবোর্ড</option>
                        <option>সব দেখুন</option>
                    </select>
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>২০ টি দেখুন</option>
                        <option>৩০ টি দেখুন</option>
                        <option>৪০ টি দেখুন</option>
                    </select>
                </div>
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                            <tr>
                            <th># আইডি</th>
                            <th scope="col">নাম</th>
                            <th scope="col">ই-মেইল</th>
                            <th scope="col">মোট</th>
                            <th scope="col">অর্ডার স্ট্যাটাস</th>
                            <th scope="col">পেমেন্ট স্ট্যাটাস</th>
                            <th scope="col">একশন</th>
                        </tr>
                            
                    </thead>
                    <tbody>
                        {% for c in orders %}
                            <tr>
                                <td>#{{c.oid}}</td>
                                <td><b>{{c.full_name|title}}</b></td>
                                <td>{{c.email}}</td>
                                <td>৳{{c.price}}</td>
                                <td><span class="badge alert-secondary">পেন্ডিং</span></td>
                                {% if c.paid_status == True %}
                                    <td><span class="badge alert-success"></span>পেইড</td>
                                {% else %}
                                    <td><span class="badge alert-danger">নট পেইড</span></td>
                                {% endif %}
                                <td>
                                    <a href="{% url 'useradmin:order_detail' c.id %}"
                                       class="btn btn-md rounded font-sm">বিস্তারিত দেখিন</a>
                                </td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
            <!-- table-responsive //end -->
        </div>
        <!-- card-body end// -->
    </div>
    <!-- card end// -->
    <!-- <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                </li>
            </ul>
        </nav>
    </div> -->
</section>


{% endblock content %}
