{% extends 'useradmin/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<section class="content-main">
    <div class="content-header">
        <a href="javascript:history.back()"><i class="material-icons md-arrow_back"></i> ব্যাকে যান </a>
    </div>
    <div class="card mb-4">
        <div class="card-header bg-brand-2" style="height: 150px;"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl col-lg flex-grow-0" style="flex-basis: 230px;">
                    <div class="img-thumbnail shadow  bg-white position-relative text-center"
                         style="height: 160px; width: 160px; margin-top: -120px;">
                        {% if profile.image %}
                        <span><img src="{{ request.user.profile.image.url }}"
                                   style="width: 150px; object-fit: cover; border-radius:50%; height:150px;" alt=""></span>
                        {% else %}
                        <span><img
                                src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg"
                                style="width: 150px; height:150px; object-fit: cover; border-radius:50%; " alt=""></span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xl col-lg">
                    <h3>{{request.user.profile.full_name}}</h3>
                    <p class="mt-0 mb-0">{{request.user.email}}</p>
                    <p class="mt-0 mb-0">{{request.user.profile.bio}}</p>
                </div>
            </div>
            <!-- card-body.// -->
            <hr class="my-4" />
            <div class="row g-4">
                <div class="col-md-12 col-lg-4 col-xl-2">
                    <article class="box">
                        <p class="mb-0 text-muted">মোট বিক্রি:</p>
                        <h5 class="text-success">{{ total_sales.qty|default:"এখনও কোন বিক্রি হয়নি" }}</h5>
                        <p class="mb-0 text-muted">রেভিনিউ:</p>
                        <h5 class="text-success mb-0">${{revenue.price|default:"0.00"}}</h5>
                    </article>
                </div>
                <!--  col.// -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <h6>বায়োডাটা</h6>
                    <p>
                        {{request.user.profile.full_name}} <br />
                        {{request.user.email}} <br />
                        {{request.user.profile.phone}}
                    </p>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <h6>ঠিকানা ও অবস্থান</h6>
                    <p>
                        Address: {{request.user.profile.address}} <br />
                        Country: {{request.user.profile.country}} <br />
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title">বিক্রেতা ভিত্তিক বই</h3>
            <div class="row">
                
                {% for p in products %}
                    <div class="col-xl-2 col-lg-3 col-md-6">
                        <div class="card card-product-grid">
                            <a href="#" class="img-wrap"> <img src="{{ p.image.url }}" style="width: 100%; height: 200px; object-fit: cover;" alt="{{p.title}}" /> </a>
                            <div class="info-wrap">
                                <a href="#" class="title">{{p.title}}</a>
                                <div class="price mt-1">${{p.price}}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}
