{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>হোম</a>
                    <span></span> পেজ <span></span> মাই একাউন্ট
                </div>
            </div>
        </div>
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                        <div class="row">
                            <div class="col-lg-6 col-md-8">
                                <div class="login_wrap widget-taber-content background-white">
                                    <div class="padding_eight_all bg-white">

                                        {% if form.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{form.errors}}</strong>
                                        </div>
                                        {% endif %}

                                        <div class="heading_s1">
                                            <h1 class="mb-5">একাউন্ট তৈরী করুন</h1>
                                            <p class="mb-30">পূর্বে একাউন্ট থাকলে লগইন করতে
                                                <a href="{% url 'userauths:sign-in' %}">এখানে ক্লিক করুন</a>
                                            </p>
                                        </div>
                                        <form method="post" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                {{form.username}}
                                            </div>
                                            <div class="form-group">
                                                {{form.email}}
                                            </div>
                                            <div class="form-group">
                                                {{form.password1}}
                                            </div>
                                            <div class="form-group">
                                                {{form.password2}}
                                            </div>

                                            <div class="form-group mb-30">
                                                <button type="submit"
                                                        class="btn btn-fill-out btn-block hover-up font-weight-bold"
                                                        name="login">সাবমিট করুন</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
